toolkit/
build/
build_*/
install/
model/
sdk/
brightsign-oe/
brightsign-x86_64*.sh
yolo-demo*.zip
yolo-dev*.zip
brightsign-*-src-*.tar.gz
srv/
tk/

*_requirements.txt

# Generated extension packages (can be very large)
*.zip
pydev-*.zip
ext_pydev-*.zip